/* Base Css */
.alignleft{
    float: left;
    margin-right: 15px;

}
.alignright{
    float: right;
    margin-left: 15px;

}
.aligncenter{
    display: block;
    margin:0 auto 15px;

}
a:focus{
    outline: 0 solid;
}
img{
    max-width:100%;
    height: auto;
}
h1,h2,h3,h4,h5,h5{
    margin:0 0 15px;
    font-weight: 700;
}
html,body{
    height: 100%;
}
a:hover{
    text-decoration:none;
}
input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus{
    -webkit-box-shadow:0 0 0px 1000px white inset !important;
}
.zigzag-bg-1{
    background-image: url(img/bg-1.jpg);
}
.zigzag-bg-2{
    background-image: url(img/bg-2.jpg);
}
.zigzag-text::after{
    position: absolute;
    left:-4900%;
    top:0;
    height: 100%;
    width: 5000%;
    background-color:rgb(14, 193, 238);
    content: " ";
    z-index: -1;
    transform: skewX(10deg);
}
.zigzag-text{
    position: relative;
    z-index: 2;
    color:#fff;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.zigzag-bg-1 .box-button{
    display: inline-block;
    color:#fff;
    background-color:#011379;
    padding:10px 15px;
    border-radius: 5px;
    margin-top:20px;
}
.zigzag-bg-2 .zigzag-text::after {
    left: auto;
    right: -4900%;
    background-color: #011379;
    z-index: -1;
}
.zigzag-bg-2 .zigzag-text{
    padding-left: 50px;
}
.zigzag-bg-2 .box-button{
    display:inline-block;
    color:#fff;
    background-color:rgb(14, 193, 238);
    padding:10px 15px;
    border-radius: 5px;
    margin-top:20px;
}